.centerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 156px;
}

.centerList{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.centerList li{
    margin-right: 15px;
}